{% extends 'admin/editUser.html.twig' %}

{% block title %}
Modification d'un Professeur
{% endblock %}

{% block userName %} 
  {{ teacher.user.firstName }} {{ teacher.user.lastName }}
{% endblock %}
                    
{% block userType %} 
    <div class="col-md-12 col-sm-12 col-xs-12 form-group">
    	{% if teacher.user.roles[0] == "ROLE_ADMIN" %}
      		{{ form_widget(form.roles, { 'attr': { 'class': 'form-control', 'id': 'form_roles', 'name': 'form[roles]', 'value': 'form[roles]' } } ) }}
    	{% elseif teacher.user.roles[0] == "ROLE_USER" %}
    		{{ form_widget(form.roles, { 'attr': { 'class': 'form-control', 'id': 'form_roles', 'name': 'form[roles]', 'selected': 'selected' } } ) }}
    	{% endif %}
    </div>

    <div class="form-group col-md-12 col-sm-12 col-xs-12">
      <h2>Assigner une/des classe(s)</h2>
          <table class="table table-striped table-bordered bulk_action">
            <thead>
              <tr>
                <th>Nom</th>
                <th>Description</th>
              </tr>
            </thead>

            <tbody>
              {% for classroom in form.classrooms %}
                {% set index = classroom.vars.value %}
                {% set entity = form.classrooms.vars.choices[index].data %}
                	{% if entity.id in ids %}
                		<tr>
			                <td> {{ form_widget(classroom,  { 'attr': { 'checked': 'checked'}} ) }} {{ entity.name }}</td>
			               	<td> {{ entity.description }} </td>
			            </tr>
                	{% else %}
		                <tr>
		                    <td> {{ form_widget(classroom) }} {{ entity.name }}</td>
		                    <td> {{ entity.description }} </td>
		                </tr>
	                {% endif %}
              {% endfor %}
                                                  
            </tbody>
          </table>
    </div>
{% endblock %}

